.container {
  position: relative;
  margin-top: 150px;
  margin-bottom: 100px;
  transform: rotate(-15deg) skew(25deg) scale(0.8);
  transition: 0.5s;
}
.container img {
  position: absolute;
  width: 50%;
  transition: 0.7s;
}

.container:hover img:nth-child(4) {
  transform: translate(160px, -160px);
  opacity: 1;
  cursor: pointer;
}
.container:hover img:nth-child(3) {
  transform: translate(120px, -120px);
  opacity: 0.8;
}
.container:hover img:nth-child(2) {
  transform: translate (80px, -80px);
  opacity: 0.6;
}
.container:hover img:nth-child(1) {
  transform: translate(40px, -40px);
  opacity: 0.4;
}
